@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes breathe-scale {
    0%,
    100% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
}

.animate-breathe-scale {
    animation: breathe-scale 10s ease-in-out infinite;
}

.chinese-pattern {
    background-image: url('/chinese-ink-painting-transparent.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.01;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg) rotateY(0deg) translateZ(0);
    }
    50% {
        transform: rotateX(180deg) rotateY(90deg) translateZ(10px);
    }
    100% {
        transform: rotateX(360deg) rotateY(180deg) translateZ(0);
    }
}

.animate-flip {
    animation: flip 2s ease-in-out forwards;
}